.novedades-img {
    margin: auto;
    width: 100%;
    height: 300px;
    object-fit: cover;
    padding-bottom: 20px; 
}

.novedades-titulo {
    background: red;
    text-align: center;
}    

.novedades-texto {
    text-align: center;
}